In [1]:
import os
import psycopg2

def getConnection():

    # Connect to postgres with a copy of the MIMIC-III database
    con = psycopg2.connect(
        dbname=os.environ['POSTGRES_DB_NAME'],
        user=os.environ['POSTGRES_USER_NAME'],
        host=os.environ['POSTGRES_HOSTNAME'],
        port=os.environ['POSTGRES_PORT_NUMBER'],
        password=os.environ['POSTGRES_PASSWORD']
        )

    return con

In [3]:
import pandas as pd


con = getConnection()
labsConceptsDf = pd.read_sql_query("select * from eicu_etl_20231106.src_labevents limit 5", con)
# labsConceptsDf.to_csv(os.environ['EICU_EHR_PIPELINE_BASE'] + '/data/concept_mapping/concepts_labs.csv', index=False)
labsConceptsDf

/tmp/ipykernel_69201/3133958785.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  labsConceptsDf = pd.read_sql_query("select * from eicu_etl_20231106.src_labevents limit 5", con)

,labevent_id,patient_id,episode_id,specimen_id,itemid,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,load_table_id,load_row_id,trace_id
0,232746720,None,1000114,None,potassium,-18395,None,3.7,3.7,mmol/L,None,None,None,None,None,labevents,-1990878364,"{'charttime': '-18395', 'episode_id': '1000114..."
1,232746721,None,1000114,None,creatinine,-18395,None,1.50,1.5,mg/dL,None,None,None,None,None,labevents,-53267179,"{'charttime': '-18395', 'episode_id': '1000114..."
2,232746722,None,1000114,None,anion gap,-18395,None,7,7.0,NaN,None,None,None,None,None,labevents,-1350855935,"{'charttime': '-18395', 'episode_id': '1000114..."
3,232746723,None,1000114,None,sodium,-18395,None,137,137.0,mmol/L,None,None,None,None,None,labevents,-231407629,"{'charttime': '-18395', 'episode_id': '1000114..."
4,232746724,None,1000114,None,bicarbonate,-18395,None,24,24.0,mmol/L,None,None,None,None,None,labevents,-1788604847,"{'charttime': '-18395', 'episode_id': '1000114..."